Repository meshery/schemas, pull requests merged in 2024-07, with the labels that each got.

#84 [Schema] Add workflow to resolve schemas
  .github/codecov.yml
  .github/integration-test-config.yaml
  .github/release-drafter.yml
  .github/scripts/integration_publisher.sh
  .github/scripts/results.json
  .github/scripts/run.sh
  .github/workflows/build-and-preview-site.yml
  .github/workflows/build-and-release-dde.yml
  .github/workflows/build-and-release-stable.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/error-codes-updater.yaml
  .github/workflows/mesheryctl-ci.yml
  .github/workflows/mesheryctl-e2e.yaml
  .github/workflows/meshmodel-generators.yml
  .github/workflows/multi-platform.yml
  .github/workflows/notify-providers.yaml
  .github/workflows/preview-site.yml
  .github/workflows/publish-schemas.yml
  README.md
  schema.go
  schemas/constructs/openapi/common/parameters.yml
  schemas/constructs/openapi/connection.yml
  schemas/constructs/openapi/k8scontext.yml
  schemas/constructs/openapi/patterns.yml
  schemas/constructs/openapi/roles.yml
  schemas/constructs/openapi/users.yml
  schemas/constructs/v1alpha1/catalog_data.json
  schemas/constructs/v1alpha2/connection.yml
  schemas/constructs/v1alpha2/design.json
  scripts/merge-openapi-specs.sh
Labels: area/ci

#75 add v1beta draft for designs
  schemas/constructs/v1beta2-draft/designs-v1beta1.json
Labels: models

#120 [CI] Pull Changes Before auto-commit Action
  .github/workflows/publish-npm-package.yml
  .github/workflows/publish-schemas.yml
  .github/workflows/release-notes.yml
  .github/workflows/swagger.yml
Labels: area/ci

#116 Added Capability Construct and strict schema for component style
  build/latest_release.sh
  compile-types.sh
  openapi.d.ts
  schemas/constructs/core.json
  schemas/constructs/v1alpha1/capability.json
  schemas/constructs/v1alpha3/relationship.json
  schemas/constructs/v1beta1/component.json
  schemas/constructs/v1beta1/model.json
  scripts/merge-openapi-specs.sh
  tsconfig.json
  typescript/constructs/v1alpha1/capability.d.ts
  typescript/constructs/v1alpha1/componentCapability.d.ts
  typescript/constructs/v1alpha2/relationship.d.ts
  typescript/constructs/v1alpha3/relationship.d.ts
  typescript/constructs/v1beta1/component.d.ts
  typescript/constructs/v1beta1/designs.d.ts
  typescript/constructs/v1beta1/model.d.ts
  typescript/constructs/v1beta2/component.d.ts
  typescript/index.ts
Labels: component/models

#122 Relationships: Lowercase kind enums
  schemas/constructs/v1alpha3/relationship.json
Labels: relationships
