Repository meshery/schemas, pull requests merged in 2025-04, with the labels that each got.

#269 Add security-insights.yml
  .github/security-insights.yml
Labels: area/ci

#281 Chore: Remove stale copies of three schemas
  schemas/constructs/openapi/models.yml
  schemas/constructs/openapi/patterns.yml
  schemas/constructs/openapi/relationshipEvaluation.yml
Labels: kind/chore

#279 [Docs] README: Migrate contributing instructions to Meshery Docs
  README.md
Labels: area/docs

#288 Chore: Remove duplicate IACFileTypes
  schemas/constructs/core.json
Labels: kind/chore

#286 Delete models/core/files.go
  models/core/files.go
Labels: pr/do-not-merge
